body{
    margin: 0;
    border: 0;
    background-color: #3C6255;
}
.header{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr 0.5fr 0.5fr 0.5fr 1fr;
}
.boton{
    background-color: transparent;
    border-radius: 0;
    border-style: none;
}
.iconoheader{
    max-height: 30px;
    max-width: 30px;
}